<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Your Page Title">
    <meta property="og:description" content="Your Page Description">
    <meta property="og:image" content="URL to Your Image">
    <meta property="og:url" content="URL to Your Page">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/1454948.png">
    <title>모띠클 : 태그 관리</title>
    <style>
        .addTagButton {
            margin-left: 4px;
            margin-right: 8px;
            height: 34px;
            line-height: 1px;
        }

        #tagContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-top: 22px;
            margin-left: 5.25px;
        }

        #tagNameInput {
            width: 359px;
            margin-bottom: 5px;
        }

        #tagList {
            display: grid;
            flex-wrap: wrap;
            gap: 5px;
        }

        #tagList div {
            padding: 5px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
<div class="view">
    <nav class="nav">
        <span onclick="goBack()" class="go-back"><</span>
        <h1 class="nav-text">태그 관리</h1>
        <div class="redirect-home">
            <a href="/" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none">
                    <g clip-path="url(#a)">
                        <path fill="#A6A6A6" fill-rule="evenodd"
                              d="M9.65.567C10.03.201 10.513 0 11.013 0s.983.201 1.362.567l6.63 6.395 2.602 2.343c.108.096.197.216.263.351a1.318 1.318 0 0 1 .088.896 1.236 1.236 0 0 1-.188.408c-.085.121-.192.222-.312.296a.934.934 0 0 1-.796.1 1.012 1.012 0 0 1-.363-.212l-.915-.824v9.325c0 .625-.22 1.224-.613 1.665-.393.442-.925.69-1.48.69h-4.186v-5.888c0-.624-.22-1.223-.613-1.665-.392-.442-.924-.69-1.48-.69-.554 0-1.087.248-1.48.69a2.513 2.513 0 0 0-.612 1.665V22H4.734c-.555 0-1.087-.248-1.48-.69a2.513 2.513 0 0 1-.613-1.665v-9.326l-.915.824a1.02 1.02 0 0 1-.364.227.935.935 0 0 1-.812-.086 1.086 1.086 0 0 1-.32-.3 1.237 1.237 0 0 1-.19-.417 1.32 1.32 0 0 1 .101-.91c.07-.137.165-.256.277-.351L3.02 6.963 9.65.567Z"
                              clip-rule="evenodd"/>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" d="M0 0h22v22H0z"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
    </nav>
    <div style="margin-left: 12px; margin-right: 12px">
        <div id="tagContainer">
            <input type="text" id="tagNameInput" placeholder="태그 이름 입력">
            <button onclick="registerTag()" class="addTagButton">태그 등록</button>
        </div>
        <p class="tagAlert">등록할 태그를 입력해주세요.</p>
        <div id="tagList">
        </div>
    </div>
</div>
<div class="toast" id="toast"></div>
<script>
    function goBack() {
        window.history.back();
    }

    const accessToken = localStorage.getItem('accessToken');

    if (accessToken === null) {
        redirectToKakaoScreen();
    }

    function redirectToKakaoScreen() {
        window.location.href = '/kakao';
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetchAndDisplayTags();
    });

    function fetchAndDisplayTags() {
        fetch('/api/tags', {
            method: 'GET',
            headers: {
                'Authorization': accessToken
            }
        })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 401) {
                        alert("다시 로그인해주세요.");
                        window.location.href = '/kakao';
                    } else {
                        throw new Error(`Error fetching user tags: ${response.statusText}`);
                    }
                }
                return response.json();
            })
            .then(tags => {
                const tagListContainer = document.getElementById('tagList');
                tagListContainer.innerHTML = '';
                const tagSliceRes = tags.tagSliceRes;

                tagSliceRes.forEach(tag => {
                    const tagItem = document.createElement('button');
                    tagItem.classList.add("tag-list-button");
                    tagItem.textContent = `#${tag.name}`;

                    const deleteButton = document.createElement('span');
                    deleteButton.classList.add("delete-tag-button")
                    deleteButton.innerText = 'X';
                    deleteButton.addEventListener('click', function () {
                        deleteTag(tag.id);
                    });

                    const tagContainer = document.createElement('div');
                    tagContainer.appendChild(tagItem);
                    tagContainer.appendChild(deleteButton);

                    tagListContainer.appendChild(tagContainer);
                });
            })
            .catch(error => console.error('태그를 가져오는 중 에러 발생:', error));
    }

    function registerTag() {
        const tagNameInput = document.getElementById('tagNameInput');
        const tagName = tagNameInput.value;
        const tagAlert = document.querySelector('.tagAlert');


        if (tagName.trim() === '') {
            tagAlert.textContent = "태그를 입력해주세요.";
            tagAlert.style.color = "red";
            tagNameInput.style.border = "1px solid red";

            tagNameInput.focus();
            return;
        }

        fetch('/api/tags', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': accessToken
            },
            body: JSON.stringify({
                name: tagName,
            }),
        })
            .then(response => {
                if (response.status === 400) {
                    tagAlert.textContent = "이미 등록된 태그입니다. 아래에서 확인해주세요.";
                    tagAlert.style.color = "red";
                    tagNameInput.style.border = "1px solid red";

                    tagNameInput.focus();
                    throw new Error('Duplicate tag');
                }
                return response.json();
            })
            .then(() => {
                tagAlert.textContent = "등록할 태그를 입력하세요.";
                tagAlert.style.color = "rgb(163, 179, 186)";
                tagNameInput.style.border = "none";

                fetchAndDisplayTags();
                showToast('태그가 등록 되었습니다. 연결할 태그를 아티클 등록 화면에서 클릭해주세요!', false);
                tagNameInput.value = '';
            })
            .catch(error => {
                if (error.message !== 'Duplicate tag') {
                    console.error('태그 등록 중 에러 발생:', error);
                }
            });
    }

    function deleteTag(tagId) {
        fetch(`/api/tags/${tagId}`, {
            method: 'DELETE',
            headers: {
                'Authorization': accessToken
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`태그 삭제 실패: ${response.status} ${response.statusText}`);
                }
                return response.text();
            })
            .then(() => {
                fetchAndDisplayTags();
            })
            .catch(error => console.error('태그 삭제 중 에러 발생:', error))
    }

    function showToast(message, isError) {
        const toastElement = document.getElementById('toast');

        if (isError) {
            toastElement.style.backgroundColor = '#e74c3c';
            toastElement.style.color = '#fff';
        } else {
            toastElement.style.backgroundColor = '#2DD197';
            toastElement.style.color = '#fff';
        }

        toastElement.textContent = message;
        toastElement.style.display = 'block';

        setTimeout(() => {
            toastElement.style.display = 'none';
        }, 3000);
    }
</script>
</body>
</html>
