<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/1454948.png">
    <title>모띠클 : 회원가입</title>
</head>
<body>
<div class=view>
    <nav class="nav">
        <span onclick="goBack()" class="go-back"><</span>
        <h1 class="nav-text">회원 가입</h1>
    </nav>
    <div class="join-form">
        <section style="margin-top: 297px;">
            <div style="margin-bottom: 30px;">
                <div>
                    <label class="nickname-request-text">닉네임</label>
                </div>
                <div class="nickname-request-form-container">
                    <input class="requestNickname" style="border: none; margin-bottom: 0px;" type="text" id="nickname"
                           placeholder="닉네임을 입력하세요.">
                    <button type="submit" class="check-nickname-button" onclick="checkNickname()">중복검사</button>
                </div>
            </div>
            <div>
                <div>
                    <label class="nickname-request-text">성별</label>
                </div>
                <div>
                    <div>
                        <select class="requestGenderType" name="gender" required>
                            <option value="" disabled selected hidden>성별을 선택하세요</option>
                            <option value="FEMALE">여성</option>
                            <option value="MALE">남성</option>
                        </select>
                    </div>
                </div>
            </div>

            <section class="submit-form">
                <button type="submit" class="add-click-button" onclick="startRegistration()">시작하기</button>
            </section>
        </section>
    </div>
</div>
<script src="/js/join.js"></script>
</body>
</html>
