html {
    background-color: grey;
    height: 100%;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gwangyang";
    src: url('/static/fonts/Gwangyang_Touching.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUIT-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.welcomeText {
    color: #2DD197;
    font-weight: lighter;
}

.nickname-request-text {
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0px;
    padding-left: 4px;
    margin-bottom: 7px;
}

.nickname-request-form-container {
    display: flex;
}

.join-form {
    height: calc(calc(var(--var, 1vh) * 100) - 44px);
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
}

.check-nickname-button {
    background-color: #2DD197;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    width: 20%;
    height: 34px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 255 255);
    margin-left: 10px;
}

.requestGenderType option {
    text-align: center;
}

.submit-form {
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.add-click-button {
    background-color: #2DD197;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 255 255);
}


.kakaoLogin {
    width: 100px;
    height: 100px;
    position: relative;
    left: 55px;
    top: 341px;
    display: inline-block;
}

.e1_44 {
    border: 0.5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e1_44 {
    max-width: 480px;
    height: 63px;
    position: relative;
    left: 0px;
    top: 0px;
}

.e1_45 {
    color: rgba(0, 0, 0, 1);
    width: 17px;
    height: 30px;
    position: relative;
    left: 19px;
    top: -48px;
    font-family: Inter;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0;
}

.e1_46 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 24px;
    position: relative;
    left: 192px;
    top: -47px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_51 {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 352px;
    height: 42px;
    position: absolute;
    left: 57px;
    top: 670px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e1_52 {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 352px;
    height: 42px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.e39_8 {
    width: 355px;
    height: 87px;
    position: relative;
    left: 18px;
    top: 247px;
}

.e1_47 {
    color: rgba(0, 0, 0, 1);
    width: 30.69565200805664px;
    height: 19px;
    position: absolute;
    left: 38.834781646728516px;
    top: 5px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e1_48 {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 351.976806640625px;
    height: 43px;
    position: absolute;
    left: 3.023190975189209px;
    top: 44px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e1_60 {
    width: 24.556522369384766px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_61 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_61 {
    width: 16.371013641357422px;
    height: 6px;
    position: absolute;
    left: 4.0927534103393555px;
    top: 15px;
}

.e1_62 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_62 {
    width: 8.185506820678711px;
    height: 8px;
    position: absolute;
    left: 8.185506820678711px;
    top: 3px;
}

.e1_6 {
    color: rgba(0, 0, 0, 1);
    width: 46.31578826904297px;
    height: 19px;
    position: relative;
    left: -29.947364807128906px;
    top: 261px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e1_12 {
    max-width: 354px;
    height: 42px;
    position: relative;
    left: 18px;
    top: 274px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

input::placeholder {
    text-align: center;
}

.requestGenderType {
    width: 100%;
    height: 34px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    cursor: pointer;
}

select:invalid {
    color: gray;
    text-align: center;
}


.e1_40 {
    width: 24.701753616333008px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 322px;
}

.e1_41 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_41 {
    width: 16.467836380004883px;
    height: 14px;
    position: relative;
    left: 4.116959095001221px;
    top: 11px;
}

.e1_42 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_42 {
    position: absolute;
    left: 4.116959095001221px;
    top: 15px;
}

.view {
    overflow: hidden;
    overflow-y: scroll;
}

.view::-webkit-scrollbar {
    display: none;
}

.view {
    min-height: calc(var(--var, 1vh) * 100);
    background-color: #F7F7F7;
    max-width: 480px;
    height: 741px;
    position: relative;
    margin: 0px auto;
    width: 100%;
}

.home-view {
    min-height: calc(var(--var, 1vh) * 100);
    background: #F7F7F7;
    max-width: 480px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 16px;
    position: relative;
}

.sort {
    color: rgba(0, 0, 0, 1);
    left: 420px;
    top: -67px;
    font-family: Inter;
    text-align: right;
    font-size: 15px;
    letter-spacing: 0;
}

.homeButton {
    color: #2DD197;
    position: relative;
    left: 0px;
    top: 30px;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
    text-decoration: none;
}

.myPage {
    width: 24px;
    height: 24px;
    position: relative;
    left: 551px;
    top: 34px;
}

.search {
    color: rgba(0, 0, 0, 1);
    left: 210px;
    top: -89px;
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.moreTag {
    width: 12px;
    height: 6px;
    position: absolute;
    left: 360px;
    top: 76px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.line {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 100%;
    height: 0.5px;
    position: relative;
    left: 0px;
    top: -101px;
}

.line2 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 100%;
    height: 0.5px;
    position: relative;
    left: 0px;
    top: -55px;
}


.articleList {
    padding-bottom: 0px;
    max-height: 609px;
    overflow-y: auto;
    border-right-width: 10px;
}

.articleList::-webkit-scrollbar {
    display: none;
}

.tag-card {
    width: 79px;
    height: 27px;
    position: relative;
    display: inline-block;
    margin: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    line-height: 27px;
}

.article-card {
    padding: 10px;
    display: flex;
    overflow-y: hidden;
    max-height: 200px;
}

.article-title {
    white-space: nowrap;
    font-size: large;
    margin-left: 6px;
    margin-top: -12px;
    cursor: pointer;
}

.article-tag-card {
    padding-top: 9px;
    background-color: #E6E6E6;
    color: #535353;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin: 5px;
    height: 24px;
    line-height: 7px;
    padding-right: 7px;
    padding-left: 6px;
}

/* add Article */
.header-line {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 479px;
    height: 0.5px;
    position: relative;

}

.article-registration {
    height: calc(calc(var(--var, 1vh) * 100) - 44px);
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
}

.article-registration h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

textarea,
input[type="text"],
input[type="file"],
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-button {
    background-color: #2DD197;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#articleContent {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.article-image {
    width: 100%;
    height: 100%;
}

.nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 44px;
    background-color: #F7F7F7;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    z-index: 900;
}

.tag-button {
    background-color: white;
    color: #535353;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #2DD197;
    height: 23px;
    line-height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

.tag-button.selected {
    background-color: #2DD197;
    color: white;
}

#tagButtonsContainer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    max-height: 50px;
    min-height: 30px;
    transition: max-height 0.5s ease;
}

#tagButtonsContainer::-webkit-scrollbar {
    display: none;
}

.article-box {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.article-section {
    padding: 16px;
    background-color: rgb(194, 203, 205);
    width: calc(100% - 100px);
}

.link-article-title {
    margin-top: 12px;
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.article-url {
    width: 100%;
    font-size: 10px;
    line-height: 150%;
    color: rgb(163, 179, 186);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-description {
    width: 100%;
    font-size: 10px;
    line-height: 150%;
    color: rgb(104 108 110);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-type-image {
    width: 100px;
    height: 100%;
    background-color: rgb(183, 198, 205);
    object-fit: contain;
}

.image-type-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: zoom-in;
}

:root * {
    box-sizing: border-box;
    font-family: 'SUIT-Regular', Arial, sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.go-back {
    color: rgb(90, 103, 106);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.addTagButton {
    width: 20%;
    background-color: #2DD197;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 8px;
    height: 34px;
    line-height: 1;
}

.tag-list-button {
    border: none;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    height: 34px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 4px;
    background-color: #f7f7f7;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    width: fit-content;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

.delete-tag-button {
    color: inherit;
    padding: 0px;
    line-height: 0;
    margin-left: 4px;
    font-size: smaller;
    cursor: pointer;
}

.nav-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(90, 103, 106);
    font-size: 1rem;
}

.menu {
    margin-top: 16px;
    padding: 0 16px 0 16px;
}

.update-nickName-button {
    border: none;
    font-size: 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 2px;
    color: rgb(90, 103, 106);
    background-color: inherit;
    cursor: pointer;
}

#home-tagButtonsContainer {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 30px;
}

#home-tagButtonsContainer::-webkit-scrollbar {
    display: none;
}

.home-tag-button {
    background-color: #f7f7f7;
    color: #535353;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    height: 29px;
    line-height: 22px;
}

.home-tag-button.selected {
    background-color: #2DD197;
    color: white;
    border: 1px solid #2DD197;
}

.home-tag-add-button {
    background-color: #f7f7f7;
    color: #535353;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    height: 29px;
    line-height: 22px;
}

footer {
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    background-color: #f7f7f7;
    font-size: 11px;
    left: 0px;
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
}

.content-container {
    margin-top: 100px;
}

#spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2DD197;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(20.5px);
}

.toast {
    text-align: center;
    text-wrap: balance;
    width: 95%;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 999;
    transition: bottom 0.5s cubic-bezier(0.05, 0.8, 0.5, 1);
}

.tagInfoAlert {
    color: rgb(163, 179, 186);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 2px;
    margin-bottom: 0px;
}

.tagAlert {
    color: rgb(163, 179, 186);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-left: 5px;
}

.redirect-home {
    position: absolute;
    top: 10px;
    right: 12px;
}

.home-search {
    border: 0px solid #808080;
    border-radius: 4px;
    color: #505050;
    cursor: pointer;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 20px;
    line-height: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.explore-article-section {
    height: 610px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    overflow-y: auto;
}

.explore-article-section::-webkit-scrollbar {
    display: none;
}

.explore-article-article {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    color: rgb(65 65 65);
    background-color: rgb(247 247 247);
    border-radius: 6px;
    opacity: 1;
    will-change: opacity, transform;
    transform: none;
    height: 290px;
}

.explore-article-details {
    width: 100%;
    height: 100%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 6px;
    cursor: pointer;
}

.explore-article-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.explore-article-name {
    font-size: medium;
    color: #292929;
    font-weight: 500;
}

.explore-article-tag {
    height: 100%;
    padding: 2px 4px;
    background-color: rgb(45 209 151);
    color: white;
    border-radius: 4px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-content-container {
    position: relative;
    top: 103px;
}

.explore-article-info {
    height: 27px;
    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.explore-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-article-tag-wrapper {
    height: 21px;
    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.explore-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

#spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: -50vh;
}

.no-articles-container {
    position: absolute;
    top: 302px;
    right: 102px;
    display: none;
}

.others-tag {
    background-color: #2DD197;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
    height: 23px;
    line-height: 2px;
}

#articleDetailsContainer {
    height: calc(calc(var(--var, 1vh) * 100) - 44px);
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

#articleMemo {
    position: relative;
    width: 100%;
    height: 140px;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-radius: 4px;
    color: rgb(0 0 0);
    opacity: 1;
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    line-height: 2;
    resize: none;
    padding: 0px;
    border: 0px;
    background-color: inherit;
    overflow: scroll;
}

.tag-wrapper {
    padding-top: 0px;
    padding-bottom: 8px;
}

.tag-text {
    display: block;
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 5px;
}

#articleMemo::-webkit-scrollbar {
    display: none;
}

.text-div1 {
    box-sizing: border-box;
    font-family: inherit;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-div2 {
    position: relative;
}

.text-details {
    -webkit-text-fill-color: rgb(90, 103, 106);
    width: 100%;
    height: 300px;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-radius: 4px;
    color: rgb(90, 103, 106);
    opacity: 1;
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    line-height: 2;
    resize: none;
    border: 0px;
    padding: 0px;
    background-color: inherit;
}

.text-details::-webkit-scrollbar {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2DD197;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(20.5px);
}

.button-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.registerButton {
    background-color: #2DD197;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 255 255);
}

.section1 {
    margin-top: -10px;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.link-add-button {
    position: absolute;
    inset: 147px 16px auto auto;
    cursor: pointer;
    width: 40px;
    height: 31.5px;
    padding-top: 3px;
    border: 0;
    border-radius: 0px 4px 4px 0px;
    background-color: rgb(90, 103, 106);
}

#articleLink {
    width: 100%;
    height: 32px;
    padding: 12px;
    background: rgb(194, 203, 205);
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(90, 103, 106);
    opacity: 1;
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    line-height: 2;
    resize: none;
}

.tag-wrapper {
    padding-bottom: 8px;
}

.tag-text {
    display: block;
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 5px;
    padding-left: 4px;
    margin-top: 7px;
}

.memo-text {
    display: block;
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0px;
    padding-left: 4px;
}

.articleTitleText {
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0px;
    padding-left: 4px;
    margin-bottom: 7px;
}

.link-text {
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 7px;
    padding-left: 4px;
    display: none;
}

.articleContent {
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 7px;
    padding-left: 4px;
}

.close-button {
    margin: 5px;
    font-size: 16px;
    background-color: #474747;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.modal {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.article-image-container {
    flex: 1;
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    overflow: hidden;
}

.article-details {
    flex: 2;
    padding: 15px;
    cursor: pointer;
}

.article-tags {
    white-space: nowrap;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.home-article-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.type-text-content {
    font-size: 12px;
    padding: 0px 5px;
    margin: 3px 0px 0px;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-content {
    text-align: center;
}

.modal-content-button {
    margin: 5px;
    font-size: 16px;
    background-color: #2DD197;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.profile {
    flex: 1 1 0%;
    overflow-y: auto;
    margin-top: 67px;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: rgb(247 247 247);
    border-radius: 4px;
    height: 255px;
    padding: 0px 16px 16px;
}

.info1 {
    display: flex;
    align-items: center;
    height: 255px;
/ / padding: 16 px 0 px;
    border-bottom: rgb(247 247 247);
}

.nameAndEmail {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 16px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: rgb(113, 125, 130);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accountMenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    height: 54px;
    padding: 16px 0px;
    border-bottom: 1px solid rgb(194, 203, 205);
}

.accountMenuDetails {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px;
    display: block;
}

.MyAccountText {
    font-size: 13px;
}

.profile-image-container {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.updateImageButton {
    background-color: #2DD197;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
}

.logout {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    height: 54px;
    padding: 16px 0px;
    color: rgb(194, 203, 205);
    cursor: pointer;
}

#addTagButtonTop {
    border: 1px solid #E6E6E6;
    color: #A6A6A6;
    margin-right: 0px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.nav-home-button,
.nav-explore-button,
.nav-add-button {
    width: 33.33%;
    text-align: center;
}

.nav-add-button {
    width: 33.33%;
    text-align: center;
    margin-top: -50px;
}

.nav-home-button,
.nav-explore-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -3px;
}

#tagContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 22px;
    margin-left: 5.25px;
}

#tagNameInput {
    width: 359px;
    margin-bottom: 5px;
}

#tagList {
    display: grid;
    padding-left: 6px;
    padding-right: 9px;
    gap: 5px;
}

.added-tag-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.myAccount {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
    overflow-y: auto;
}

.accountInfo {
    display: flex;
    align-items: flex-start;
    height: 91px;
    padding: 23px 0px;
    border-bottom: 1px solid rgb(194, 203, 205);
}

.account-container {
    flex: 1 1 0%;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
}

.account-text {
    font-size: 16px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.account-value {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: rgb(113, 125, 130);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nicknameContainer {
    margin-top: 32px;
}

.nicknameContainerDetails {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.nicknameText {
    display: block;
    color: rgb(90, 103, 106);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0px;
    padding-left: 3px;
}

.nicknameFormDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nicknameForm {
    width: 82%;
    padding: 12px 40px 12px 12px;
    background: rgb(255 255 255);
    border: 1px solid #dadada;
    border-radius: 4px;
    color: rgb(90, 103, 106);
    opacity: 1;
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    resize: none;
}

.checkNicknameButton {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    width: 20%;
    background: #2DD197;
    border: 1px solid #2DD197;
    border-radius: 4px;
    color: white;
    opacity: 1;
    appearance: none;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    line-height: 2;
    resize: none;
    cursor: pointer;
}

.nicknameAlert {
    color: rgb(163, 179, 186);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.updateNicknameButton {
    background-color: #2DD197;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255 255 255);
}

.empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.first-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.welcomeTextH1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'gwangyang';
    color: #2DD197;
}

.home-text-container {
    text-align: center;
    padding: 0px 0px 20px 0;
    font-size: 1.1em
}

#tagNameInput::placeholder {
    text-align: left;
}
