html {
    background-color: grey;
    height: 100%;
}

body {
    min-height: calc(var(--var, 1vh) * 100);
    background-color: #F7F7F7;
    max-width: 480px;
    height: 741px;
    margin: 0px auto;
    width: 100%;
}

.welcomeText {
    color: rgba(0, 0, 0, 1);
    width: 135px;
    height: 48px;
    position: relative;
    left: 135px;
    top: 131px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e39_12 {
    border-radius: 500px;
    background-color: rgba(242.22095131874084, 242.22095131874084, 242.22095131874084, 1);
    width: 237px;
    height: 292px;
    position: relative;
    left: 123px;
    top: 257px;
}

.e39_14 {
    color: rgba(155.42383521795273, 149.65361684560776, 149.65361684560776, 1);
    width: 41px;
    height: 17px;
    position: relative;
    left: 225px;
    top: 62px;
    font-family: Inter;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

.kakaoLogin {
    width: 100px;
    height: 100px;
    position: relative;
    left: 55px;
    top: 341px;
    display: inline-block;
}

.e1_44 {
    border: 0.5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.e1_44 {
    max-width: 480px;
    height: 63px;
    position: relative;
    left: 0px;
    top: 0px;
}

.e1_45 {
    color: rgba(0, 0, 0, 1);
    width: 17px;
    height: 30px;
    position: relative;
    left: 19px;
    top: -48px;
    font-family: Inter;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0;
}

.e1_46 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 24px;
    position: relative;
    left: 192px;
    top: -47px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e1_51 {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 352px;
    height: 42px;
    position: absolute;
    left: 57px;
    top: 670px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e1_52 {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 352px;
    height: 42px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.checkNickname {
    width: 88.28070068359375px;
    height: 44px;
    position: relative;
    left: 374.719299px;
    top: 231px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.e39_8 {
    width: 355px;
    height: 87px;
    position: relative;
    left: 18px;
    top: 247px;
}

.e1_47 {
    color: rgba(0, 0, 0, 1);
    width: 30.69565200805664px;
    height: 19px;
    position: absolute;
    left: 38.834781646728516px;
    top: 5px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e1_48 {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 351.976806640625px;
    height: 43px;
    position: absolute;
    left: 3.023190975189209px;
    top: 44px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e1_60 {
    width: 24.556522369384766px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_61 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_61 {
    width: 16.371013641357422px;
    height: 6px;
    position: absolute;
    left: 4.0927534103393555px;
    top: 15px;
}

.e1_62 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_62 {
    width: 8.185506820678711px;
    height: 8px;
    position: absolute;
    left: 8.185506820678711px;
    top: 3px;
}

.e1_6 {
    color: rgba(0, 0, 0, 1);
    width: 46.31578826904297px;
    height: 19px;
    position: relative;
    left: -29.947364807128906px;
    top: 261px;
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e1_12 {
    max-width: 354px;
    height: 42px;
    position: relative;
    left: 18px;
    top: 274px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

input::placeholder {
    text-align: center;
}

.requestNickname {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 259.192993px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 2px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.requestGenderType {
    background-color: rgba(225.1586964726448, 225.1586964726448, 225.1586964726448, 1);
    width: 446.976807px;

    height: 43px;
    position: absolute;
    left: -4.976809px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

select:invalid {
    color: gray;
    text-align: center;
}


.e1_40 {
    width: 24.701753616333008px;
    height: 24px;
    position: absolute;
    left: 18px;
    top: 322px;
}

.e1_41 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_41 {
    width: 16.467836380004883px;
    height: 14px;
    position: relative;
    left: 4.116959095001221px;
    top: 11px;
}

.e1_42 {
    border: 2px solid rgba(0, 0, 0, 1);
}

.e1_42 {
    position: absolute;
    left: 4.116959095001221px;
    top: 15px;
}

.view {
    overflow: hidden;
}

.view {
    min-height: calc(var(--var, 1vh) * 100);
    background-color: #F7F7F7;
    max-width: 480px;
    height: 741px;
    position: relative;
    margin: 0px auto;
    width: 100%;
}

.sort {
    color: rgba(0, 0, 0, 1);
    width: 45px;
    height: 15px;
    position: relative;
    left: 420px;
    top: -67px;
    font-family: Inter;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}

.homeButton {
    color: #2DD197;
    position: relative;
    left: 8px;
    top: 30px;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0;
    text-decoration: none;
    font-weight: 700;
}

.myPage {
    width: 24px;
    height: 24px;
    position: relative;
    left: 551px;
    top: 34px;
}

.search {
    color: rgba(0, 0, 0, 1);
    width: 59px;
    height: 19px;
    position: relative;
    left: 210px;
    top: -89px;
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.moreTag {
    width: 12px;
    height: 6px;
    position: absolute;
    left: 360px;
    top: 76px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.line {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 100%;
    height: 0.5px;
    position: relative;
    left: 0px;
    top: -101px;
}

.line2 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 100%;
    height: 0.5px;
    position: relative;
    left: 0px;
    top: -55px;
}

.footer-box {
    border: 0.5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}

.footer-box {
    width: 481px;
    height: 88px;
    background-color: white;
    padding-bottom: 110px;
}

.articleList {
    position: relative;
    top: -48px;
    left: 0;
    right: 0;
    max-height: 570px;
    overflow-y: auto;
    padding-left: 10px;
    border-right-width: 10px;
    padding-right: 10px;
}

.articleList::-webkit-scrollbar {
    display: none;
}

.tag-card {
    width: 79px;
    height: 27px;
    position: relative;
    display: inline-block;
    margin: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    line-height: 27px;
}

.article-card {
    padding: 10px;
    display: flex;
}


.article-title {
    white-space: nowrap;
    font-size: large;
    margin-left: 6px;
    margin-top: -12px;
    cursor: pointer;
}


.article-tag-card {
    padding-top: 9px;
    background-color: #2DD197;
    color: white;
    border: 1.4px solid #2DD197;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    margin: 5px;
    height: 19px;
    line-height: 2px;
    padding-right: 7px;
    padding-left: 6px;
}

/* add Article */
.header-line {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 479px;
    height: 0.5px;
    position: relative;

}

.article-registration {
    height: calc(calc(var(--var, 1vh) * 100) - 44px);
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
}

.article-registration h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

textarea,
input[type="text"],
input[type="file"],
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-button {
    background-color: #2DD197;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#articleContent {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.article-image {
    width: 100%;
    height: 100%;
}

.nav {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 44px;
    background-color: #F7F7F7;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    z-index: 900;
}

.tag-button {
    background-color: white;
    color: #535353;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #2DD197;
    height: 23px;
    line-height: 2px;
}

.tag-button.selected {
    background-color: #2DD197;
    color: white;
}

#tagButtonsContainer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 50px;
    min-height: 30px;
    transition: max-height 0.5s ease;
}

#tagButtonsContainer::-webkit-scrollbar {
    display: none;
}

.article-box {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.article-section {
    padding: 16px;
    background-color: rgb(194, 203, 205);
    width: calc(100% - 100px);
}

.link-article-title {
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.article-url {
    width: 100%;
    font-size: 10px;
    line-height: 150%;
    color: rgb(163, 179, 186);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-type-image {
    width: 100px;
    height: 100%;
    background-color: rgb(183, 198, 205);
    object-fit: contain;
}

.image-type-image {
    width: 100%;
    height: 100%;
    max-width: 448px;
    max-height: 448px;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

:root * {
    box-sizing: border-box;
    font-family: inherit;
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.go-back {
    color: rgb(90, 103, 106);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.addTagButton {
    background-color: #2DD197;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 8px;
    height: 34px;
    line-height: 1px;
}

.tag-list-button {
    border: 1px solid #9dffdc;
    display: inline-flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    height: 34px;
    padding: 0px 8px;
    border-radius: 4px;
    background-color: #9dffdc;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    width: fit-content;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

.delete-tag-button {
    color: inherit;
    padding: 0px;
    line-height: 0;
    margin-left: 4px;
    font-size: smaller;
}

.nav-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(90, 103, 106);
    font-size: 1rem;
}

.menu {
    margin-top: 16px;
    padding: 0 16px 0 16px;
}

.update-nickName-button {
    border: none;
    font-size: 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 2px;
    color: rgb(90, 103, 106);
    background-color: inherit;
    cursor: pointer;
}
