<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Your Page Title">
    <meta property="og:description" content="Your Page Description">
    <meta property="og:image" content="URL to Your Image">
    <meta property="og:url" content="URL to Your Page">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/css/style.css">
    <title>흩어진 영감을 모으자!</title>
    <style>
        .modal {
            z-index: 999;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
        }

        .article-image-container {
            flex: 1;
            width: 180px;
            height: 180px;
            min-width: 180px;
            min-height: 180px;
            overflow: hidden;
        }

        .article-details {
            flex: 2;
            padding: 15px;
            cursor: pointer;
        }

        .article-tags {
            white-space: nowrap;
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
        }

        .home-article-image {
            width: 180px;
            height: 180px;
            object-fit: cover;
        }

        .type-text-content {
            font-size: 12px;
            padding: 6px;
            line-height: 150%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .modal-content {
            text-align: center;
        }

        .modal-content button {
            margin: 5px;
            font-size: 16px;
            background-color: #2DD197;
            color: white;
            border: none;
            padding: 10px 10px;
            cursor: pointer;
            border-radius: 4px;
        }


    </style>
</head>
<body>
<div class=home-view>
    <section>
        <a class="homeButton" href="/">MOTTICLE</a>
        <div style="position: absolute; top: 39px; right: 21px;">
            <a href="/my-page" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="none">
                    <g clip-path="url(#a)">
                        <path fill="#535353"
                              d="M20.667 24.542v5.554A15.4 15.4 0 0 1 15.5 31a15.4 15.4 0 0 1-5.167-.904v-5.554c0-.713.58-1.292 1.292-1.292h7.75c.712 0 1.292.579 1.292 1.292ZM15.5 10.333a2.586 2.586 0 0 0-2.583 2.584A2.586 2.586 0 0 0 15.5 15.5a2.586 2.586 0 0 0 2.583-2.583 2.586 2.586 0 0 0-2.583-2.584Zm7.75 18.57v-4.361a3.88 3.88 0 0 0-3.875-3.875h-7.75a3.88 3.88 0 0 0-3.875 3.875v4.36C3.125 26.218 0 21.222 0 15.5 0 6.953 6.953 0 15.5 0S31 6.953 31 15.5c0 5.722-3.125 10.718-7.75 13.402Zm-2.583-15.986A5.172 5.172 0 0 0 15.5 7.75a5.172 5.172 0 0 0-5.167 5.167 5.172 5.172 0 0 0 5.167 5.166 5.172 5.172 0 0 0 5.167-5.166Z"/>
                        <path fill="#000" fill-opacity=".2"
                              d="M20.667 24.542v5.554A15.4 15.4 0 0 1 15.5 31a15.4 15.4 0 0 1-5.167-.904v-5.554c0-.713.58-1.292 1.292-1.292h7.75c.712 0 1.292.579 1.292 1.292ZM15.5 10.333a2.586 2.586 0 0 0-2.583 2.584A2.586 2.586 0 0 0 15.5 15.5a2.586 2.586 0 0 0 2.583-2.583 2.586 2.586 0 0 0-2.583-2.584Zm7.75 18.57v-4.361a3.88 3.88 0 0 0-3.875-3.875h-7.75a3.88 3.88 0 0 0-3.875 3.875v4.36C3.125 26.218 0 21.222 0 15.5 0 6.953 6.953 0 15.5 0S31 6.953 31 15.5c0 5.722-3.125 10.718-7.75 13.402Zm-2.583-15.986A5.172 5.172 0 0 0 15.5 7.75a5.172 5.172 0 0 0-5.167 5.167 5.172 5.172 0 0 0 5.167 5.166 5.172 5.172 0 0 0 5.167-5.166Z"/>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" d="M0 0h31v31H0z"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div id="home-tagButtonsContainer" style="cursor: pointer">
            <button id="addTagButtonTop" class="home-tag-button" onclick="navigateToAddTag()"
                    style="border: 1px solid #cdcdcd; color: #818181; margin-right: 0px;">+태그추가
            </button>
        </div>
        <div>
            <hr style="bottom: 0; width: 100%; border: 0; height: 1px; background-color: #cdcdcd;">
            <button class="home-search" onclick="moveSearchPage()" style="cursor: pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none">
                    <g clip-path="url(#a)">
                        <path fill="#2DD197"
                              d="m14.817 13.933-3.73-3.73a6.26 6.26 0 1 0-.884.883l3.73 3.73a.625.625 0 0 0 .884-.883ZM6.25 11.25a5 5 0 1 1 0-9.999 5 5 0 0 1 0 9.999Z"/>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" d="M0 0h15v15H0z"/>
                        </clipPath>
                    </defs>
                </svg>
                검색하기
            </button>
            <a class="sort" id="latestButton" onclick="changeSortOrder(null)" style="cursor: pointer;">최신순↕</a>
            <a class="sort" id="oldestButton" onclick="changeSortOrder('oldest')" style="cursor: pointer;">오래된순↕</a>
        </div>
    </section>
    <section class="articleList" id="articleListContainer">
    </section>
    <footer>
        <nav>
            <div style="position: absolute; top: 17px; right: 369px;">
                <a href="/" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="none">
                        <g clip-path="url(#a)">
                            <path fill="#2DD197" fill-rule="evenodd"
                                  d="M13.598.8a2.763 2.763 0 0 1 1.92-.8c.704 0 1.385.284 1.92.8l9.342 9.01 3.667 3.301c.15.136.277.305.37.496a1.86 1.86 0 0 1 .125 1.263c-.054.209-.144.404-.265.574-.121.17-.271.312-.44.417a1.32 1.32 0 0 1-1.122.14 1.425 1.425 0 0 1-.511-.298l-1.29-1.161v13.14c0 .88-.311 1.724-.864 2.346-.553.622-1.303.972-2.085.972h-5.898v-8.296c0-.88-.311-1.725-.864-2.347-.553-.622-1.303-.972-2.085-.972s-1.532.35-2.086.972c-.553.622-.863 1.466-.863 2.347V31H6.67c-.782 0-1.532-.35-2.085-.972-.553-.622-.864-1.466-.864-2.347V14.54l-1.29 1.162c-.15.144-.325.253-.513.32A1.318 1.318 0 0 1 .774 15.9a1.531 1.531 0 0 1-.45-.423 1.744 1.744 0 0 1-.269-.587A1.86 1.86 0 0 1 .2 13.607c.1-.193.232-.36.39-.494l3.667-3.302L13.598.8Z"
                                  clip-rule="evenodd"/>
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path fill="#fff" d="M0 0h31v31H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
            <div style="position: absolute; top: 17px; right: 77px;">
                <a href="/explore" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="none">
                        <g fill="#A6A6A6" clip-path="url(#a)">
                            <path d="M5.167 0h3.875a5.167 5.167 0 0 1 5.166 5.167v3.875a5.167 5.167 0 0 1-5.166 5.166H5.167A5.167 5.167 0 0 1 0 9.042V5.167A5.167 5.167 0 0 1 5.167 0ZM21.958 0h3.875A5.167 5.167 0 0 1 31 5.167v3.875a5.167 5.167 0 0 1-5.167 5.166h-3.875a5.167 5.167 0 0 1-5.166-5.166V5.167A5.167 5.167 0 0 1 21.957 0ZM5.167 16.792h3.875a5.167 5.167 0 0 1 5.166 5.166v3.875A5.167 5.167 0 0 1 9.042 31H5.167A5.166 5.166 0 0 1 0 25.834v-3.875a5.167 5.167 0 0 1 5.167-5.167ZM21.958 16.792h3.875A5.167 5.167 0 0 1 31 21.958v3.875A5.167 5.167 0 0 1 25.833 31h-3.875a5.167 5.167 0 0 1-5.166-5.166v-3.875a5.167 5.167 0 0 1 5.166-5.167Z"/>
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path fill="#fff" d="M0 0h31v31H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
            <div style="position: absolute; top: -35px; right: 212px;">
                <a onclick="openModal()" style="cursor: pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="none">
                        <path fill="#F8BD7E"
                              d="M32.5 0A32.5 32.5 0 1 0 65 32.5 32.535 32.535 0 0 0 32.5 0Zm10.833 35.208h-8.125v8.125a2.708 2.708 0 1 1-5.416 0v-8.125h-8.125a2.708 2.708 0 1 1 0-5.416h8.125v-8.125a2.708 2.708 0 1 1 5.416 0v8.125h8.125a2.708 2.708 0 1 1 0 5.416Z"/>
                    </svg>
                </a>
            </div>
        </nav>
    </footer>
    <div class="modal" id="myModal">
        <div class="modal-content">
            <h2>아티클 타입을 선택하세요</h2>
            <button onclick="selectArticleType('LINK')">링크</button>
            <button onclick="selectArticleType('IMAGE')">이미지</button>
            <button onclick="selectArticleType('TEXT')">글귀</button>
            <button onclick="closeModal()">Close</button>
        </div>
    </div>
    <div id="spinner" class="spinner"></div>
</div>

<script>
    window.onload = function () {
        document.getElementById('latestButton').click();
    }

    function getAccessTokenFromQuery() {
        const uriParams = new URLSearchParams(location.search);
        let accessToken;

        if (uriParams.has('accessToken')) {
            accessToken = uriParams.get('accessToken');
            localStorage.setItem('accessToken', accessToken);
            console.log(accessToken);
        } else {
            accessToken = localStorage.getItem('accessToken');
            console.log(accessToken);
        }

        return accessToken;
    }

    const accessToken = getAccessTokenFromQuery();

    if (accessToken === null) {
        redirectToKakaoScreen();
    }

    function redirectToKakaoScreen() {
        window.location.href = '/kakao';
    }

    function changeSortOrder(order) {
        const latestButton = document.getElementById('latestButton');
        const oldestButton = document.getElementById('oldestButton');

        if (order === 'oldest') {
            // 오래된 순 버튼을 선택한 경우
            oldestButton.style.display = 'none';
            latestButton.style.display = 'block';
        } else {
            // 최신순 버튼을 선택한 경우
            latestButton.style.display = 'none';
            oldestButton.style.display = 'block';
            oldestButton.style.left = '410px';
        }

        const sortOrder = order === 'oldest' ? 'oldest' : null;
        console.log(sortOrder);
        fetchAndRenderArticles(sortOrder);
    }

    async function fetchAndRenderData() {
        const response = await fetch('/api/tags', {
            headers: {
                'Authorization': accessToken
            }
        });

        if (response.status === 401) {
            alert("다시 로그인해주세요.");
            window.location.href = "/kakao";
        } else {
            const tags = await response.json().then(data => data.tagSliceRes);
            renderTags(tags);
        }
    }

    fetchAndRenderData();

    function renderTags(tags) {
        const tagButtonsContainer = document.getElementById('home-tagButtonsContainer');

        if (tags.length === 0) {
            tagButtonsContainer.addEventListener('click', function () {
                navigateToAddTag();
            });

            return;
        }
        tags.forEach(tag => {
            const tagButton = document.createElement('button');
            tagButton.type = 'button';
            tagButton.id = `tag${tag.id}`;
            tagButton.value = tag.id;
            tagButton.className = 'home-tag-button';
            tagButton.textContent = `#${tag.name}`;

            tagButton.addEventListener('click', function () {
                this.classList.toggle('selected');

                fetchAndRenderArticles();
            });
            tagButtonsContainer.appendChild(tagButton);
            tagButtonsContainer.addEventListener('click', function (event) {
                if (event.target === tagButtonsContainer) {
                    navigateToAddTag();
                }
            });
        });
    }

    let hasNextPage;

    async function fetchAndRenderArticles(sortOrder) {
        const spinner = document.getElementById('spinner');
        spinner.style.display = 'block';

        const articleListContainer = document.getElementById('articleListContainer');
        const viewContainer = document.querySelector('.home-view');
        articleListContainer.innerHTML = '';

        const selectedTags = Array.from(document.querySelectorAll('.home-tag-button.selected'))
            .map(button => parseInt(button.value));

        const tagIds = selectedTags.length === 0 ? '' : selectedTags.join(',');

        const articlesResponse = await fetch(`/api/articles/search?tagIds=${tagIds}&sortOrder=${sortOrder}`, {
            headers: {
                'Authorization': accessToken
            }
        });
        spinner.style.display = 'none';

        const articlesData = await articlesResponse.json();
        console.log('Filtered Articles Data:', articlesData);
        if (articlesData.articleOgResList.length === 0) {
            const noArticlesImage = `
        <img src="images/cup of water notebook and pencil.png" alt="No Articles Image" width="100%" height="100%">
    `;
            const noArticlesContainer = document.createElement('div');
            noArticlesContainer.style.position = 'absolute';
            noArticlesContainer.style.top = '302px';
            noArticlesContainer.style.right = '102px';
            noArticlesContainer.innerHTML = noArticlesImage;
            viewContainer.appendChild(noArticlesContainer);

            const latestButton = document.getElementById('latestButton');
            const oldestButton = document.getElementById('oldestButton');
            latestButton.style.display = 'none';
            oldestButton.style.display = 'none';
        } else {
            renderArticles(articlesData);
            hasNextPage = articlesData.hasNext;
        }
    }

    function renderArticles(articlesData) {
        const articleListContainer = document.getElementById('articleListContainer');
        console.log(articlesData);

        articlesData.articleOgResList.forEach(article => {
            const articleCard = document.createElement('div');
            articleCard.classList.add('article-card');
            articleCard.style.cursor = 'pointer';
            articleCard.setAttribute('onclick', `moveArticlePage(${article.id})`);

            const articleImageContainer = document.createElement('div');
            articleImageContainer.classList.add('article-image-container');

            const articleDetails = document.createElement('div');
            articleDetails.classList.add('article-details');

            const articleTagName = article.tagsRes.tagRes.map(tag => `
            <div class="article-tag-card">#${tag.name}</div>
        `).join('');

            let articleImageHTML = '';

            if (article.type === 'IMAGE' && article.content) {
                articleImageHTML = `<img src="${article.content}" alt="Article Image" class="home-article-image">`;
            } else if (article.type === 'LINK' && article.openGraphResponse.image) {
                articleImageHTML = `<img src="${article.openGraphResponse.image}" alt="OG Image" class="home-article-image">`;
            } else {
                articleImageHTML = `<p class="type-text-content">${article.content}</p>`;
            }

            articleDetails.innerHTML = `
            <div class="article-title">${article.title}</div>

            <div class="article-tags">${articleTagName}</div>
        `;

            articleImageContainer.innerHTML = articleImageHTML;
            articleCard.appendChild(articleImageContainer);
            articleCard.appendChild(articleDetails);

            articleListContainer.appendChild(articleCard);
        });
    }

    function moveArticlePage(articleId) {
        window.location.href = `/article/${articleId}`;
    }

    let selectedArticleType;

    function openModal() {
        document.getElementById('myModal').style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    function selectArticleType(type) {
        selectedArticleType = type;
        console.log('Selected Article Type:', selectedArticleType);

        closeModal();
        window.location.href = `/addArticle?type=${selectedArticleType}`;
    }

    function navigateToAddTag() {
        window.location.href = '/addTag';
    }

    function moveSearchPage() {
        window.location.href = '/search';
    }

    function infiniteScroll() {
        const articleListContainer = document.getElementById('articleListContainer');
        let currentPage = 0;

        articleListContainer.addEventListener('scroll', function () {
            const scrollTop = articleListContainer.scrollTop;
            const scrollHeight = articleListContainer.scrollHeight;
            const clientHeight = articleListContainer.clientHeight;

            if (scrollTop + clientHeight >= scrollHeight) {
                fetchMoreDataThrottled();
            }
        });

        async function fetchMoreData() {
            if (!hasNextPage) {
                return;
            }

            const spinner = document.getElementById('spinner');
            spinner.style.marginTop = ' -390px';
            spinner.style.display = 'block';

            const selectedTags = Array.from(document.querySelectorAll('.home-tag-button.selected'))
                .map(button => parseInt(button.value));

            const tagIds = selectedTags.length === 0 ? '' : selectedTags.join(',');

            const response = await fetch(`/api/articles/search?tagIds=${tagIds}&page=${currentPage + 1}`, {
                headers: {
                    'Authorization': accessToken
                }
            });
            const newData = await response.json();
            renderArticles(newData);
            spinner.style.display = 'none';
            currentPage++;

            hasNextPage = newData.hasNext;
        }

        let lastFetchTime = 0;
        const throttleTime = 1000;

        function fetchMoreDataThrottled() {
            const now = Date.now();
            if (now - lastFetchTime >= throttleTime) {
                fetchMoreData();
                lastFetchTime = now;
            }
        }
    }

    infiniteScroll();
</script>
</body>
</html>
