<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>모띠클 : 아티클을 한 곳에서 관리하자!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/images/1454948.png">

</head>
<body>
<div class=view>
    <div>
        <span class="welcomeText">모띠클에 오신걸환영합니다 !</span>
        <div class="e39_12"></div>
        <span class="e39_14">image</span>
        <a href="/oauth2/authorization/kakao" class="kakaoLogin">
            <img src="/images/kakao_login_medium_wide.png" alt="Kakao Login">
        </a>
    </div>

</div>
</body>
</html>
